<!DOCTYPE html>
<html>
  <head>
    <title>Rank Anime Fan Art</title>
    <link rel="stylesheet" type="text/css" href="/main.css">

  </head>
  <body>

<nav>
  <a href="/rankAfa">Main Page</a>
  <a href="/rank/top">View the top ranking gallery</a>
  <a href="/rank/newest">View the newest pieces</a>
  <a href="/rankAfa/add">Add a new piece</a>
</nav>
