<%- include('./partials/header.ejs') %>
<h1> Add a new Art entry!</h1>
<form action="/rankAfa" method="POST">
    <input type="text" name="name" id="name"  placeholder="Name" required/>
    <input type="text" name="authorName" id="authorName"  placeholder="Author's Name" required/>
    <input type="text" name="description" id="description"  placeholder="Description"/>
    <input type="text" name="img" id="img"  placeholder="Image" />
    <input type="number" name="rank" id="rank"  placeholder='Starting Rank = 0' value=0 readonly/>
    <input type="number" name="reviewCount" id="reviewCount"  placeholder='Number of Votes = 0' value=0 readonly/>
    <input type="Submit" value="Add New Art">
</form>
<%- include('./partials/footer.ejs') %>